.topbar {
  background-color: black;
  height: 50px;
  width: 100%;
  color: aqua;
  text-align: center;
}

#container {
  width: 70%;
  margin: 0px auto;
}

#header {
  height: 90px;
}

#header ul {
  float: right;
}

#header ul li {
  display: inline;
}

#header ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px;
}

#banner img {
  width: 75%;
  height: 350%;
  float: right;
}

#content1 {
  width: 32%;
  background-color: brown;
  height: 400px;
  margin-right: 2%;
  float: left;
}

.heading {
  color: aliceblue;
  margin-left: 10px;
  font-size: 25px;
}

.para1 {
  color: azure;
  margin-left: 15px;
  text-align: justify;
  margin-right: 10pxs;
}

.more {
  text-decoration: none;
  background-color: white;
  margin-left: 15px;
  padding: 5px;
}

#content2 {
  width: 32%;
  background-color: chocolate;
  height: 400px;
  float: left;
}


.heading {
  color: cornsilk;
  margin-left: 10px;
  font-size: 25px;
}

.para2 {
 margin-left: 10px;
 color: bisque;
 text-align: justify;
 margin-right: 10px;

}

.more {
  text-decoration: none;
  background-color: white;
  margin-left: 15px;
  padding: 5px;
}

#content3 {
  width: 32%;
  background-color: cornflowerblue;
  height: 400px;
  float: right;
}

.heading {
  margin-left: 10px;
  color: cornsilk;
  margin-left: 10px;
  font-size: 25px; 
}

.para3 {
  color: honeydew;
  text-align: justify;
  margin-right: 10px;

}

.more {
  text-decoration: none;
  background-color: white;
  margin-left: 15px;
  padding: 5px;
}

#bottom1 {
  width: 60%;
  float: right;
}

#bottom1, p {
   text-align: justify;
}

#bottom2 {
  width: 40%;
  float: right;
}

footer {
  background-color: black;
  height: 50px;
  width: 100%;
  clear: both;
}

footer p {
  color: darkgray;
  text-align: center;
  padding-top: 15px;
}